@import "tailwindcss";

@font-face {
  font-family: "GowunDodum-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  min-height: 100vh;
  background: #5a3f37; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #a8e063,
    #5a3f37
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #a8e063,
    #5a3f37
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: black; /* 글씨가 잘 보이도록 흰색 */
}
